<%- include('./partials/header') -%>

<div class="container card card-body" style="background-color: #ffc93c;">
    <h1>Records of <%=name%></h1>
    <h3>Name: <%=name%></h3>
    <h3>Class and Section: <%=class_section%></h3>
    <h3>Book Issued: <%=title%></h3>
    <h3>Author of the Book: <%=author%></h3>
    <h3>Date Issued: <%=date%></h3>
</div>

<%- include('./partials/footer') -%>